html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}


html {
  /* background-color: #0c0c0c; */
}

body {
  width: 80%;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

.buttonpanel {
    text-align: center;
}

#mainsheet {
  padding: 2em 1em;
}

.draggablechord {
    padding: 1em 0;
    display: inline-block;
    width: 100px;
}

#droparea {
    background-color: #101030;
}

.chorddrop {
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: #202070;
    margin: 0.5em;
}

button {
    margin: 0 auto;
    display: inline-block;
    background-color: #202040;
    color: #eeeeff;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 180px;
    border-radius: 12px;
    cursor: pointer;

}

h1 {
  margin: 0;
  padding: 20px 0;
  /* color: #dfdfef; */
}

